
<div class="main-container">
  <h2 style="text-align: center; margin-bottom: 70px; color: rgb(201, 41, 41);">Student Registration Form</h2>
<form >
  <h3>Personal Details</h3>
  <div class="names">
    
    <div class="input-group">
      <label for="firstName">First Name *</label>
      <input type="text" id="firstName" class="styled-input" placeholder="Enter your first name">
      <p class="error">Error message</p>
      
    </div>

    <div class="input-group">
      <label for="middleName">Middle Name</label>
      <input type="text" id="middleName" class="styled-input" placeholder="Enter your middle name">
      <p class="error">Error message</p>
    </div>

    <div class="input-group">
      <label for="lastName">Last Name *</label>
      <input type="text" id="lastName" class="styled-input" placeholder="Enter your last name">
      <p class="error">Error message</p>
    </div>
  </div>


  <div class="section2">
    <div class="input-group">
      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" class="styled-input">
      <p class="error">Error message</p>
    </div>

    <div class="input-group">
      <label for="studentId">Student ID</label>
      <input type="text" id="studentId" class="styled-input" placeholder="Enter your student ID">
      <p class="error">Error message</p>
    </div>
  </div>


  <h3>Address Details</h3>
  <div class="names">
    <div class="input-group">
      <label for="address">Address *</label>
      <input type="text" id="address" class="styled-input" placeholder="Enter your address">
      
      <p class="error">Error message</p>
    </div>

    <div class="input-group">
      <label for="country">Country</label>
      <input type="text" id="country" class="styled-input" placeholder="Enter your country">
      <p class="error">Error message</p>
    </div>

    <div class="input-group">
      <label for="city">City *</label>
      <input type="text" id="city" class="styled-input" placeholder="Enter your city">
      <p class="error">Error message</p>
    </div>
    <span class="add-more-symbol" style="cursor: pointer; font-weight: 900; font-size: 20px;">+</span>
  </div>


  <h3>College Details</h3>
  <div class="row-input-group">
    <div class="input-group">
      <label for="branch">Branch *</label>
      <select id="branch" class="styled-input">
        <option value="">Select Branch</option>
        <option value="cse">Computer Science Engineering (CSE)</option>
        <option value="it">Information Technology (IT)</option>
        <option value="mechanical">Mechanical Engineering</option>
        <!-- Add more options as needed -->
      </select>
      <p class="error">Error message</p>
    </div>

    <div class="input-group">
      <label for="course">Course *</label>
      <select id="course" class="styled-input">
        <option value="">Select Course</option>
        <option value="mtech">M.Tech</option>
        <option value="btech">B.Tech</option>
        <option value="bcom">B.Com</option>
        <option value="bsc">B.Sc</option>
        <option value="msc">M.Sc</option>
        <!-- Add more options as needed -->
      </select>
      <p class="error">Error message</p>
    </div>
  </div>



  <div>

    <div class="input-group" style="margin-top: 30px;">
      <label>
        <input type="checkbox" id="termsCheckbox">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente architecto porro pariatur doloremque esse eum autem obcaecati hic voluptate quia.
      </label>
      <p class="error">Error message</p>
    </div>
  


  </div>


  <div class="submit">
    
    <input type="submit" id="submit" class="submit-button" value="Submit" >
  </div>



</form>

</div>